.report {
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    flex: 1;
    background-color: white;
    box-sizing: border-box;
    min-width: 0;
}

.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
    text-underline-offset: 3px;

}

.report-header h1 {
    margin: 0 auto;
    font-size: 30;
    justify-content: center;
    align-items: center;
}

.report-filter {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    gap: 40px;
} 
.report-filter label{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-style: bold;
    text-decoration:underline;

}

.report-filter select {
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    cursor: pointer;
}

.report-cards {
    display: flex;
    gap: 60px;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    padding: 20px;
   
    text-align: center;
    width: 100%;
}

.report-card {
    flex: 1;
    flex-direction: column;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    max-width: 200px;
    max-height: 250px;
}

.report-card h3 {
    margin: 0;
    font-size: 16px;
}

.report-card p {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.chart-section {
    margin-top: 10px auto 0;
    
    padding: 20px;
    border-radius: 10px;
    width: 100%;
   
    box-sizing: border-box;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex:1;
    justify-items: center;
    overflow-x: auto;
    
}
.bar-line-chart {
    
    width:700px;
    min-width: 700px;
}

.pie-chart {
    width: 700px;
    min-width: 700px;
    
}
.chart-section h2{
    font-size: 30px;
    display: flex;
    text-decoration:wavy;
    justify-content: center;
}
.chart-filter{
    font-size: 25px;
    padding-left: 30px;
    display: flex;
    gap :30px;
    
}
.chart-heading{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: underline;
    padding-top: 10px;
}