.sidebar{
    width: 200px;
    background-color: #02ad8e;
    color:black;
    list-style: none;
    padding: 10px;
    min-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    border: 2px solid black;
    border-top: none;
    
}
.sidebar-menu{
    justify-content: center;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0px;  
    
}
.sidebar-menu li{
    list-style: none;
    margin: 5px 20px;
    display: flex;
}
.sidebar-item{
    padding: 15px;
    cursor: pointer;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-decoration:wavy;
    
    
}
.sidebar-item:hover{
    background-color:rgb(21, 115, 223);
    color: white;
    border-radius: 8px;
}
.sidebar-item.active{
    background-color: rgb(21, 115, 223);
    color: white;
    border-radius: 8px;
}
.sidebar h2{
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    text-decoration: underline;
    text-underline-offset: 6px;
}
.sidebar button {
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: left;
    cursor: pointer;
    font-size: 1;
}
.logout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-box {
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.logout-text {
    display: flex;
    flex-direction: column;
}

.logout-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}