.sidebar{
    width: 200px;
    
    background-color: aquamarine;
    color:black;
    list-style: none;
    padding: 10px;
    min-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    
}
.sidebar-menu{
    justify-content: center;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0px;  
    
}
.sidebar-menu li{
    list-style: none;
    margin: 5px 20px;
    display: flex;
}
.sidebar-item{
    padding: 15px;
    cursor: pointer;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
    
    
}
.sidebar-item:hover{
    background-color:rgb(21, 115, 223);
}
.sidebar-item.active{
    background-color: rgb(21, 115, 223);
    color: white;
    border-radius: 8px;
}
.sidebar h2{
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    text-decoration: underline;
    text-underline-offset: 6px;
}