.employees{
    padding: 20px;
    flex: 1;
    background-color: #358de4;
}

.employees-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;

}

.employees-header h1 {
    margin-bottom: 10px;
}

.employees-action {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.employees-action input {
    border-radius: 20px;
    font-size: 20px;
}

.employees-tabel {
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    padding: 5px;
    border-collapse: collapse;

}

.employees-tabel th {
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    padding: 10px;
    background-color: pink;
}

.employees-tabel td {
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    background-color: white;
}

.table-container {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    max-height: 500px;
    overflow-y: auto;

}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.employees-tabel th {
    position: sticky;
    top: 0px;
    z-index: 2;
}